.logo {
    font-size: 60px;
    line-height:1.6;
    color:black;
    text-transform:capitalize;
    text-align:left;
    margin-left:40px;
    font-family: AlexanderRegular, serif;
}

/* font-family: "AlexanderRegular"; */
@font-face {
    font-family: "AlexanderRegular";
    src: url("../font/AlexanderRegular/AlexanderRegular.eot");
    src: url("../font/AlexanderRegular/AlexanderRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/AlexanderRegular/AlexanderRegular.woff") format("woff"),
    url("../font/AlexanderRegular/AlexanderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
